DATABASE_URL=postgresql://postgres:<your-password>@localhost:5432/bayouwatch

# Replace <your-password> with your actual PostgreSQL password
# Change the title of this file to .env when you set up your own environment
# Do not commit your .env file to version control 
# Our gitignore file is set up to ignore it